<section class="body-wrapper" ng-controller="LoginController">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand site-name" href="#">C <span> M </span> </a>
            </div>
        </div>
    </nav>

    <div class="cd-user-modal-container">
        <ul class="cd-switcher">
            <li><a href="javascript:void(0)" class="selected">Sign In</a></li>
        </ul>
        <!--  log in form -->
        <div id="cd-login" class="is-selected">
            <form class="cd-form" name="loginForm" ng-submit="loginUser()" novalidate>

                <p class="fieldset" ng-class="{'has-error':loginForm.mail.$invalid}">
                    <label class="image-replace cd-email" for="signinEmail">Email</label>
                    <input class="full-width has-padding has-border" id="signinEmail" type="email" name="mail" ng-model="login.mail" placeholder="Email" required>
                    <span class="cd-error-message help-block" ng-show="userForm.mail.$invalid && !userForm.mail.$pristine">Error message here!</span>
                </p>

                <p class="fieldset">
                    <label class="image-replace cd-password" for="signinPassword">Password</label>
                    <input class="full-width has-padding has-border" id="signinPassword" type="password" name="pass" ng-model="login.pass" placeholder="Password" required>
                    <a href="javascript:void(0)" class="show-password">Show</a>
                    <span class="cd-error-message">Error message here!</span>
                </p>

                <p class="fieldset">
                    <input type="checkbox" id="remember-me" name="remember" ng-model="login.remember" checked>
                    <label for="remember-me">Remember me</label>
                </p>

                <p class="fieldset">
                    <input class="full-width" type="submit" value="Login">
                </p>
            </form>

            <p class="cd-form-bottom-message"><a href="javascript:void(0)">Forgot your password?</a></p>
        </div>
        <!-- login form ends -->

    </div>


    <footer class="footer-distributed text-center">
        <div class="footer-center">
            <!-- <span> Class<span>Maker</span></span> -->
            <span class="footer-company-name">ClassMaker &copy; 2017</span>
        </div>
    </footer>

</section>
